//.events__section header
//    background-image: url("https://media.istockphoto.com/id/120492078/fr/photo/banane.jpg?s=612x612&w=0&k=20&c=EHnzmdoSz3aWdyh16YtJMRBuZZFlW_uhvoPrVLSe2bk=")
/* Général */
$body-line-height: 10px !default
/* Headings */
$h1-line-height: 120 !default
$h2-line-height: 110 !default
$h3-line-height: 110 !default
$h4-line-height: 130 !default
$h5-line-height: 130% !default
$h6-line-height: 130% !default
/* Cas particuliers */
$lead-line-height: 120% !default
$small-line-height: 130% !default
$signature-line-height: 130% !default
$meta-line-height: 150% !default
$quote-line-height: 120% !default

/* Typographies pour CTA*/
$block-definition-color-hovered: $color-accent !default
$block-definition-font-size: $body-size !default
$block-definition-font-size-desktop: $body-size-desktop !default

/* Typographies pour table of contents*/
$toc-title-font-family: $meta-font-family !default
$toc-title-font-size: $meta-size !default
$toc-title-font-size-desktop: $meta-size-desktop !default

